<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='top-page-contents'>
    <%= link_to image_tag("schedule.png", class:"schedule-icon"), "/" %>
    <h1 class='schedule-name'>スケジュール管理帳</h1>
  </div>
  <div class='nav'>
    <ul class='lists'>
      <% if user_signed_in? %>
        <li><%= link_to 'イベント追加', new_event_path, class: :header__list %></li>
        <li><%= link_to current_user.name, edit_user_path(current_user), class: :header__list %></li>
        <li><%= link_to 'グループ一覧', "#", class: :header__list %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :header__list %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: :header__list %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: :header__list %></li>
      <% end %>
    </ul>
  </div>
</header>