<%= render "shared/header" %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <% if user_signed_in? %>
      <% if current_user.id == event.user_id %>
      <div>
        <%= link_to event.title, event_path(event.id), class: :schedule__title %>
      </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render "shared/footer" %>