<%= render "shared/header" %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event_path(event.id), class: :schedule__title %>
    </div>
  <% end %>
<% end %>

<%= render "shared/footer" %>