<div class="inner">
  <div class="prototype__wrapper">
    <p class="prototype__hedding">
      <%= @event.title %>
    </p>
    <%= link_to @event.user.name, user_path(@event.user.id), class: :prototype__user %>
    <% if user_signed_in? && current_user.id == @event.user_id %>
      <div class="prototype__manage">
        <%= link_to "編集する", edit_event_path(@event.id), class: :prototype__btn %>
        <%= link_to "削除する", event_path(@event.id), method: :delete, class: :prototype__btn %>
      </div>
    <% end %>
    
    <div class="prototype__body">
      <div class="prototype__detail">
        <p class="detail__title">スタート時刻</p>
        <p class="detail__message">
          <%= @event.start_time %>
        </p>
      </div>
      <div class="prototype__detail">
        <p class="detail__title">詳細</p>
        <p class="detail__message">
          <%= @event.content %>
        </p>
      </div>
    </div>
  </div>