<body>
<%= form_with model: [@group, @chat], class: 'form' do |f| %>
  <div id="your_container">
    <!-- チャットの外側部分① -->
    <div id="bms_messages_container">
      <!-- ヘッダー部分② -->
      <div id="bms_chat_header">
        <!--ステータス-->
        <div id="bms_chat_user_status">
          <!--ステータスアイコン-->
          <div id="bms_status_icon">●</div>
            <!--ユーザー名-->
            <div id="bms_chat_user_name"><%= link_to @group.name, group_path(@group.id) %></div>
            <ul class='lists'>
              <li><%= link_to 'グループ一覧', groups_path, class: :event_chat_btn %></li>
              <li class="hidden" id="current_user_id"><%= current_user.id %></div>
              <li class="hidden" id="current_group_id"><%= @group.id %></div>
            </ul>
        </div>
      </div>

      <!-- タイムライン部分③ -->
      <div id="bms_messages">

        <% @chats.each do |chat| %>
          <% if chat.user == current_user %>
            <!--メッセージ２（右側）-->
            <div class="bms_message bms_right">
              <div class="bms_message_box">
                <div class="bms_message_content">
                  <div class="bms_message_text"><%= chat.text %></div>
                </div>
               </div>
              <div class="bms_message_name_right"><%= chat.user.name %></div>
              <div class="bms_message_name_right"><%= chat.updated_at.strftime("%H:%M") %></div>
            </div>
            <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
          <% else %>
            <!--メッセージ１（左側）-->
            <div class="bms_message bms_left">
              <div class="bms_message_box">
                <div class="bms_message_content">
                  <div class="bms_message_text"><%= chat.text %></div>
                </div>
              </div>
              <div class="bms_message_name_left"><%= chat.user.name %></div>
              <div class="bms_message_name_right"><%= chat.updated_at.strftime("%H:%M") %></div>
            </div>
            <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
          <% end %>
        <% end %>

      </div>

      <!-- テキストボックス、送信ボタン④ -->
      <div class="form-input-area">
      <div class="form-input">
        <%= f.text_field :text, class: 'form-message', placeholder: 'メッセージを入力して下さい', id: "chat_text" %>
      </div>
      <%= f.submit '送信', class: 'form-submit' %>
      </div>
    </div>
  </div>
<% end %>
</body>